{% extends "global/Page.html" %}
{% block title %}Public Goods Game Introduction{% endblock %}

{% block content %}
<div style="text-align: center;">
    <img style="width: 409px; height: 229px;" src="{% static 'images/pg_image.jpg' %}" alt="Prisoner's Dilemma Introduction">
</div>

<div style="text-align: center;">
    <span style="font-size:12px;">© Andrey<span style="font-size:13px;"> / Adobe Stock</span></span>
</div>
<form method="post">
    <button type="submit">Next</button>
</form>
{% endblock %}
