{% extends "global/Page.html" %}
{% load static %}
{% block title %}Follow-Up Question{% endblock %}

{% block content %}
<div style="text-align: left;">
    <h2>Follow-Up Question</h2>
    <p>Are you a student in the Experimental Economics class of Prof. Rosemarie Nagel?</p>
    <form method="post">
        <input type="radio" name="participant_type" value="student" required> Yes<br>
        <input type="radio" name="participant_type" value="random" required> No<br>
        <input type="radio" name="participant_type" value="prolific" required> Prolific<br>
        <div id="fictitiousName" style="display:none;">
            <p>What's your fictitious name?</p>
            <input type="text" name="fictitious_name" required>
        </div>
        <button type="submit">Next</button>
    </form>
</div>
<script>
    document.querySelectorAll('input[name="participant_type"]').forEach(function(element) {
        element.addEventListener('change', function() {
            if (this.value === 'student') {
                document.getElementById('fictitiousName').style.display = 'block';
            } else {
                document.getElementById('fictitiousName').style.display = 'none';
            }
        });
    });
</script>
{% endblock %}